{{! Armor Tab }}
<section
  class='tab armor {{tab.cssClass}}'
  data-group='primary'
  data-tab='armor'
>
  <section class='grid grid-3col'>
    <aside class='sidebar'>
      <div class='armor-types flexcol'>
        <h3>Armor Types</h3>
<div class='armor-type flexrow'>
  <label for="armortype">Armor Type:</label>
  <select id="armortype" name="armor.armortype">
    {{#each (object-to-array @root.config.Item.armor.armortype) as |armorType|}}
      <option value="{{armorType.key}}">{{armorType.value}}</option>
    {{/each}}
  </select>
</div>

        <div class='armor-attributes flexrow'>
          <label for="kenetic-av">Kinetic AV:</label>
          <input type="number" id="kenetic-av" name="armor.keneticAV.value" value="{{this.keneticAV.value}}" min="0" />
        </div>

        <div class='armor-attributes flexrow'>
          <label for="non-kenetic-av">Non-Kinetic AV:</label>
          <input type="number" id="non-kenetic-av" name="armor.non-keneticAV.value" value="{{this.non-keneticAV.value}}" min="0" />
        </div>
      </div>
    </aside>

    {{! For the main armor list, span the right two columns }}
    <section class='main grid-span-2'>
      <ol class='items-list'>
        <li class='item flexrow items-header'>
          <div class='item-name'>{{localize 'Name'}}</div>
          <div class='item-controls'>
            {{#if @root.editable}}
              <a
                class='item-control item-create'
                title='Create item'
                data-action='createDoc'
                data-document-class='Item'
                data-type='armor'
              >
                <i class='fas fa-plus'></i>
                {{localize 'DOCUMENT.New' type='armor'}}
              </a>
            {{/if}}
          </div>
        </li>
        {{#each armors as |item id|}}
          <li
            class='item flexrow'
            data-item-id='{{item._id}}'
            data-drag='true'
            data-document-class='Item'
          >
            <div class='item-name'>
              <div class='item-image'>
                <a class='rollable' data-roll-type='item' data-action='roll'>
                  <img
                    src='{{item.img}}'
                    title='{{item.name}}'
                    width='24'
                    height='24'
                  />
                </a>
              </div>
              <div class="armor-container">
                <div class="armor-name">{{item.name}}</div>
                <div class="armor-type">Type: {{item.system.armortype}}</div>
                <div class="armor-attributes">
                  Kinetic AV: {{item.system.kenetic AV.value}}<br>
                  Non-Kinetic AV: {{item.system.non-kenetic AV.value}}
                </div>
              </div>
            </div>
            <div class='item-controls'>
              <a
                class='item-control item-edit'
                title='{{localize "DOCUMENT.Update" type='armor'}}'
                data-action='viewDoc'
              >
                <i class='fas fa-edit'></i>
              </a>
              {{#if @root.editable}}
                <a
                  class='item-control item-delete'
                  title='{{localize "DOCUMENT.Delete" type='armor'}}'
                  data-action='deleteDoc'
                >
                  <i class='fas fa-trash'></i>
                </a>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ol>
    </section>
  </section>
</section>